.my-vacation-card {
    background-color: #e6e2c6;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-bottom: 20px;
  }
  
  .my-vacation-card-title {
    color: #444444;
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  
  .my-vacation-card-location {
    color: #777777;
    font-size: 1.2rem;
    margin-bottom: 10px;
  }
  
  .my-vacation-card-link {
    display: inline-block;
    background-color: #f8c41a;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.2s ease-in-out;
  }
  
  .my-vacation-card-link:hover {
    background-color: #ffc107;
  }
  